body {
  background-color: #84cdf7;
  font-family: "Bebas Neue", sans-serif;
}

.app {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  border-radius: 10px;
  margin: 70px auto;
  padding: 20px;
}
